:root {
  --comp-color: rgb(225, 156, 6);
  --main-color: rgb(12, 12, 30);
  --main-text: white;
  --comp-text: rgb(205, 205, 205);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}


body {
  background-color: var(--main-color);
  color: var(--main-text);
  font-family: 'Lato', sans-serif;
  overflow-y: scroll;
  height: auto;

}

.app-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  height: auto;

}


/* /////////// Search Bar */
/* /////////// Search Bar */

.navbar {
  display: flex;
  height: 80px;
  /* background-color: rgb(112, 112, 112); */
  align-items: flex-end;
  justify-content: end;
}


.input-section {
  font-size: 1.2rem;
  background-color: var(--comp-color);
  height: auto;
  /* border: 2px white solid; */
  margin-right: 35px;
}

.input-section input {
  height: 50px;
  width: 200;
  max-width: 400;
  font-size: 1.2rem;
  border: none;
  padding-left: 5px;
}

.input-section button {
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  width: 80px;
  background-color: var(--comp-color);
  border: none;
}

/*/////////// Movies Header */
/*/////////// Movies Header */


.movies-header {
  width: 100%;
  display: flex;
  height: auto;
  font-size: 2rem;
  margin: 20px auto;
  justify-content: center;
  /* border: 1px white solid; */

}


.search-results {
  display: flex;
  width: 80%;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* border: 1px green solid; */
}


.movies-count {
  display: flex;
  background-color: var(--comp-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;

  /* margin-right: 10px auto; */
  padding-left: 8px;


}

.movies-count-text {
  font-size: 2.5rem;
}

.pagination-section {
  display: flex;
  width: auto;
  /* border: 1px pink solid; */
  justify-items: center;
  align-items: center;
  align-self: right;
  float: right;
}

.page-button {
  display: flex;
  width: 5%;
  min-width: 3.2rem;
  height: 40px;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--comp-color);
  border: none;
  margin: 10px 10px;
  justify-content: center;
  align-items: center;
  ;

}


/*//////// Movies List Section */
/*//////// Movies List Section */

.movies-list {
  height: auto;
  display: grid;
  /* border: 10px solid orange; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto);
  justify-items: center;
  align-items: center;
  /* width: 90vw; */
  gap: 20px 10px;
  margin: 10px auto;
  ;
}

.movie-card {
  display: grid;
  grid-template-rows: 80% 20%;
  max-width: 350px;
  height: 500px;
  border: 1px solid var(--comp-text);
  width: 100%;
  grid-template-areas: "movie-card-visual", "movie-card-info";

}

.movie-card-rating {
  color: rgb(251, 251, 251);
  display: flex;
  z-index: 1000;
  position: absolute;
  right: 30;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--comp-color);
  margin: 10px 15px;
  width: 70px;
  height: 30px;
}


.movie-card-visual {
  max-height: 80%;
  width: 100%;
  position: relative
}

.movie-card-poster {
  /* max-height: 100%; */
  width: 100%;
  height: 400px;
  max-height: 80%;
  /* max-width: 100%; */
  /* border: 1px solid pink; */
  /* grid-area: "movie-card-poster"; */
  /* z-index: -1000; */
  object-fit: fill;
}

.movie-card-info {
  display: flex;
  /* flex-direction: row; */
  /* height: 100%; */
  flex-wrap: wrap;
  /* border: 1px green solid; */
  grid-area: "movie-card-info";
  margin: 0;
  padding: 0;
  background-color: var(--comp-color)
}

.movie-card-title {
  text-align: center;
  padding: 5px 6px;
  flex: 1 0 100%;
  height: 60%;
  /* border: 1px white solid; */
}



.movie-card-year {
  font-weight: 300;
  display: flex;
  /* border: 1px orange solid; */
  height: 35%;
  width: 70%;
  align-items: center;
  padding-left: 5px;

}

.movie-card-icon {
  display: flex;
  /* border: 1px orange solid; */
  /* float: inline-end; */
  width: 30%;
  height: 35%;
  justify-content: end;
  align-items: center;
  padding-right: 7px;
  /* border: 1px white solid */
}

.fav-button {
  width: auto;
  height: auto;
  font-size: 1.5rem;
  /* border: 1px rgb(162, 0, 255) solid; */
}



/*///////Selected-Movie Page */
/*///////Selected-Movie Page */



.selected-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  height: auto;
  border: 1px red solid;
}

.selected-movie-page {
  display: grid;
  background-color: grey;
  min-height: 700px;
  height: auto;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "button-section placholder"
    "selected-card-poster selected-card-info"
    "selected-card-poster selected-card-info"
  ;

  margin: 0 auto;
  align-items: center;
  justify-content: center;
  justify-self: center;
}


.selected-card-info {
  display: grid;
  grid-area: selected-card-info;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "selected-card-title"
    "selected-card-subinfo"
    "selected-card-description"
    "play-button";
}


.selected-card-subinfo {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-area: selected-card-subinfo;
  grid-template-areas: "selected-card-year selected-card-rating";
  /* border: 1px pink solid; */
  align-items: center;
}

.selected-card-rating {
  color: rgb(251, 251, 251);
  display: flex;
  font-size: 2rem;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--comp-color);
  width: 70px;
  height: 30px;
  /* float: right; */
  justify-self: center;
  /* border: 2px black solid */
}

.selected-card-poster {
  display: flex;
  height: auto;
  grid-area: selected-card-poster;

  width: 90%;
}


.selected-card-poster>img {
  width: 60%;
  max-width: 400px;
  min-width: 200px;
  height: auto;
  justify-self: center;
  margin: 0 auto;
}

.selected-card-title {
  font-size: 3.5rem;
  grid-area: selected-card-title;
  /* border: 1px solid white; */
  margin: 10px 0px;
}

.selected-card-year {
  font-size: 1.7rem;
  grid-area: selected-card-year;
  font-weight: 400;
  color: var(--main-color)
}

.selected-card-description {
  grid-area: selected-card-description;
  font-size: 1.7rem;
  word-wrap: wrap;
  line-height: 1.5;
  margin: 10px 2px;
  padding-right: 5px;

}

.play-button {
  grid-area: 'play-button';
  width: 90%;
  height: 70px;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--comp-color);
  border: none;
  margin: 10px 0px;

}

.button-section {}


.back-button {
  color: black;
  text-decoration: none;
  display: flex;
  width: 20%;
  height: 60px;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--comp-color);
  /* border: 1px white solid; */
  margin: 10px 50px;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.link {
  text-decoration: none;
}