:root {
  --comp-color: rgb(225, 156, 6);
  --main-color: rgb(12, 12, 30);
  --main-text: white;
  --comp-text: rgb(205, 205, 205);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}


body {
  background-color: var(--main-color);
  color: var(--main-text);
  font-family: 'Lato', sans-serif;

}

.navbar {
  display: flex;

  height: 80px;
  /* background-color: rgb(112, 112, 112); */
  align-items: flex-end;
  justify-content: end;
}


.input-section {
  font-size: 1.2rem;
  background-color: var(--comp-color);
  height: auto;
  /* border: 2px white solid; */
  margin-right: 85px
}

.input-section input {
  height: 50px;
  width: 200;
  max-width: 400;
  font-size: 1.2rem;
  border: none;
  padding-left: 5px;
}

.input-section button {
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  width: 80px;
  background-color: var(--comp-color);
  border: none;
}

.movies-header {
  display: flex;
  height: 80px;
  font-size: 2rem;
  margin: 0 auto;
  padding: 30px 5px;
  align-items: center;
  /* border: 1px white solid; */
}


.movies-count {
  background-color: var(--comp-color);
  margin: 5px;
  width: 100px;
  /* height: 100%; */
  border-radius: 50%;
  text-align: center;

}

.movies-list {
  display: grid;
  /* border: 10px solid orange; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  width: 90vw;
  gap: 20px 10px;
  margin: 10px auto;
  ;
}

.movie-card {
  display: grid;
  grid-template-rows: 80% 20%;
  max-width: 350px;
  height: 500px;
  border: 1px solid var(--comp-text);
  width: 100%;
  grid-template-areas: "movie-card-poster", "movie-card-info";

}

.movie-card-poster {
  max-height: 100%;
  width: 100%;
  /* border: 1px solid pink; */
  grid-area: "movie-card-poster";
}

.movie-card-info {
  display: flex;
  /* flex-direction: row; */
  /* height: 100%; */
  flex-wrap: wrap;
  /* border: 1px green solid; */
  grid-area: "movie-card-info";
  margin: 0;
  padding: 0;
  background-color: var(--comp-color)
}

.movie-card-title {
  text-align: center;
  padding: 5px 6px;
  flex: 1 0 100%;
  height: 60%;
  /* border: 1px white solid; */
}



.movie-card-year {
  font-weight: 300;
  display: flex;
  /* border: 1px orange solid; */
  height: 35%;
  width: 70%;
  align-items: center;
  padding-left: 5px;

}

.movie-card-icon {
  display: flex;
  /* border: 1px orange solid; */
  /* float: inline-end; */
  width: 30%;
  height: 35%;
  justify-content: end;
  align-items: center;
  padding-right: 7px;
  /* border: 1px white solid */
}

.fav-button {
  width: auto;
  height: auto;
  font-size: 1.5rem;
  /* border: 1px rgb(162, 0, 255) solid; */
}

.selected-movie-page {

  background-color: grey;
  height: 800px;

}

.selected-card-poster {
  height: 4rem;

}